<div class="body">
  
  <div class="head">
    <nav class="navbar navbar-light pb-3">
      <a class="navbar-brand">My Card</a>
      <div class="postion-relative">
      <img src="../../../assets/icons/search2.png" alt="icon" />
      <img src="../../../assets/icons/notification.png" alt="icon" class="px-4"/>
      <span class="position-absolute"></span>
      <img src="../../../assets/icons/user1.png" alt="icon" class="avater" />
      </div>
    </nav>
  </div>

  <div class="my-card">
    <div class="ticket-card">
      <div class="name-label">Name</div>
      <div class="name">Carla Rosser</div>
      <div class="visa">
        <span class="card-number">1200 01452 54215</span>
        <img src="../../../assets/icons/visa.png" alt="icon" />
      </div>
      <div class="date">08/23</div>
    </div>
    <div class="py-3 money">Send Money</div>
    <div class="money-card">
      <div class="debit-box">
        <img src="../../../assets/icons/debit.png" alt="icon" />
        <div class="debit">Debit</div>
      </div>
      <div>
      </div>
      <div class="amount">
        <select id="duration" name="cars">
          <option value="weekly">$ 10.680</option>
        </select>
      </div>
    </div>
    <div class="amount-card">
      <div class="amount">
        <img src="../../../assets/icons/Ellipse.png" alt="icon" />
        <div class="input">Enter the amount</div>
      </div>
      <div class="flags-box">
        <div>
          <span class="dollar">$
          <input type="" value="800.00">
          </span>
        </div>
        <img src="../../../assets/icons/flags.png" alt="icon" />
      </div>
    </div>
    <div class="astrid">
      <div class="hayes">
        <img src="../../../assets/icons/astrid.png" alt="icon" />
        <div class="name">Astrid Hayes</div>
      </div>
      <img src="../../../assets/icons/plus.png" alt="icon" />
    </div>
    <div class="send-btn btn-primary">Send Money</div>
    <div class="quick-transfer">
      <div class="transfer mb-2">Quick Transfer</div>
      <div class="money-card-box">
        <div class="debit-box">
          <img src="../../../assets/icons/debit.png" alt="icon" />
          <div class="debit">Debit</div>
        </div>
        <div class="amount">
          
          <div>
            <select id="duration" name="cars">
              <option value="weekly">$ 10.680</option>
            </select>
          </div>
        </div>
      </div>
      <div class="amount-card-box">
        <div class="amount">
          <div class="input">Enter amount</div>
        </div>
        <div class="flags-box">
          <input type="" value="$1,24">
          <img src="../../../assets/icons/group-pics.png" alt="icon" />
        </div>
      </div>
      <div class="icons">
        <div class="send">
          <img src="../../../assets/icons/send.png" alt="icon" />
          <div class="text">Send</div>
        </div>
        <div class="receive">
          <img src="../../../assets/icons/receive.png" alt="icon" />
          <div class="text">Receive</div>
        </div>
        <div class="invoicing">
          <img src="../../../assets/icons/invoicing.png" alt="icon" />
          <div class="text" >Invoicing</div>
        </div>
        <div class="more">
          <img src="../../../assets/icons/more.png" alt="icon" />
          <div class="text">More</div>
        </div>
      </div>
    </div>
  </div>
  <div class="money-flow">
    <div class="heading">
      <p class="title">Money Flow</p>
      <div class="">
        <img src="../../../assets/icons/flow.png" alt="icon" />
        <img src="../../../assets/icons/recflow.png" alt="icon" />
      </div>
    </div>
    <div class="savings">
      <div class="savings-flow">
        <div class="amount">
          <img src="../../../assets/icons/circularflow.png" alt="icon">
          <span>Savings</span>
          <img src="../../../assets/icons/blueflow.png" alt="icon" />
          <span>+6,79%</span>
        </div>

        <div class="weekly">
          <select id="duration" name="cars">
            <option value="weekly">week</option>
          </select>
        </div>
      </div>
      <div class="chart">
        <img src="../../../assets/icons/chart.png" alt="icon" />
      </div>
    </div>
  </div>
  <div class="recent-contact">
    <div class="heading">
      <div class="title">Recent Contacts </div>
      <div class="">
        <img src="../../../assets/icons/ic.png" alt="icon" />
        <img src="../../../assets/icons/search.png" alt="icon" />
      </div>
    </div>
    <div class="dsc"> 18 recipients</div>
    <div class="users">
      <img src="../../../assets/icons/user1.png" alt="icon" />
      <img src="../../../assets/icons/avater.png" alt="icon" />
      <img src="../../../assets/icons/user4.png" alt="icon" />
      <img src="../../../assets/icons/user3.png" alt="icon" />
      <img src="../../../assets/icons/user2.png" alt="icon" />

      <img src="../../../assets/icons/vector2.png" alt="icon" class="chevron-right" />
      <p class="border-bottom"></p>
    </div>
   
    <div class="card">
      <div>
        <span>Group</span>
        <span>Party</span>
      </div>
      <div class="num-user">
        <div class="d-flex justify-content-between">
          <div>
            <img src="../../../assets/icons/user3.png" alt="icon" class="img" />
            <img src="../../../assets/icons/user4.png" alt="icon" class="img" />
            <img src="../../../assets/icons/user2.png" alt="icon" class="img" />
          </div>
          <span class="five">+5</span>
          <div>
            <img src="../../../assets/icons/chat.png" alt="icon" class="chat" />
            <span class="dot"></span>
          </div>
          
        </div>

        <div class="a-user pt-2 d-flex justify-content-between">
          <div class="d-flex justify-content-between">
            <img src="../../../assets/icons/Ellipse 357.png" alt="icon" />
            <div class="px-3 name">
              <p class="p-0 m-0">Dakota Milk</p>
              <p>$ 420.00</p>
            </div>
          </div>
          

          <img src="../../../assets/icons/vector2.png" alt="icon" class="chevron-right" />
        </div>
      </div>
    </div>

  </div>
  <div class="transaction">
    <div class="heading mb-0 pb-0 ">
      <p class="title">Recent Transactions</p>
      <p>View all <img src="../../../assets/icons/vector2.png" alt="icon"></p>
    </div>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th><img src="../../../assets/icons/bitc.png" alt="icon">
          </th>
          <td>Bitcoin Transactions</td>
          <td>Jan 16, 2020</td>
          <td>*****45242</td>
          <td>-$853.00</td>
          <td><button class="btn success">Success</button></td>
        </tr>
        <tr>
          <th><img src="../../../assets/icons/Ellipse 357.png" alt="icon">
          </th>
          <td>Sent to anitonia</td>
          <td>Jan 16, 2020</td>
          <td>*****87212</td>
          <td>-$153.00</td>
          <td><button class="btn pending">Pending</button></td>
        </tr>
        <tr>
          <th><img src="../../../assets/icons/paypal.png" alt="icon">
          </th>
          <td>Withdraw Paypal</td>
          <td>Jan 16, 2020</td>
          <td>*****36275</td>
          <td>+$223.00</td>
          <td><button class="btn success">Success</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="statistics">
    <p class="title">Statistics</p>
    <div class="icon-amount d-flex justify-content-between pb-3">
      <div class="position-relative">
        <img src="../../../assets/icons/customer.png" alt="icon" />
        <div class="position-absolute">
          <p class="mb-0">220k</p> 
          <p>Customers</p>
        </div>
      </div>
      <div class="position-relative">
      <img src="../../../assets/icons/remitance.png" alt="icon" />
      <div class="position-absolute">
          <p class="mb-0">230k</p>
          <p>Remitance</p>
      </div>
      </div>
      <div class="position-relative">
        <img src="../../../assets/icons/donation.png" alt="icon" />
        <div class="position-absolute">
          <p class="mb-0 ">270k</p>
          <p>Donation</p>
        </div>
      </div>
      <div class="position-relative">
        <img src="../../../assets/icons/watchtime.png" alt="icon" class="last-img"/>
        <div class="position-absolute">
          <p class="mb-0">130k</p>
          <p>Watchtime</p>
        </div>
      </div>
    </div>
  </div>
</div>

