@import "src/partials/_variables";

%body-card-san-flex {
  padding: 1rem;
  box-shadow: $body-box-shadow;
  border-radius: 10.2375px;
}

%body-card {
  @extend %body-flexbox;
  @extend %body-card-san-flex;
  align-content: center;
}

%body-heading {
  .heading {
    @extend %body-flexbox;
    margin-bottom: 1rem;

    .title {
      line-height: 17px;
      font-weight: $text-semi-bold;
      color: $title-color;
    }
  }
}

%body-flexbox {
  display: flex;
  justify-content: space-between;
}

%body-chevron {
  width: 0.5rem;
  height: 1rem;
  margin-top: .6rem;
}

%noti-indicator {
  position: absolute;
  padding: .2rem;
  background-color: $brand-primary;
  border-radius: $border-radius-circular;
  right: 5rem;
  top: 1rem;
}


.body {
  display: grid;
  padding: .2rem 2rem;
  min-height: 90vh;
  grid-template-columns:  270px auto;
  grid-template-rows: auto auto;
  grid-template-areas: "head head" "my-card flow";
 
  .head {
    grid-area: head;

    .navbar-brand {
      font-weight: $text-bold;
    }
    .position-absolute {
      @extend %noti-indicator
    }

    .avater {
      width: 30px;
      height: 30px;
    }
  }

  .my-card {
    grid-area: my-card;
    padding: 1rem;
    padding-top: 0;
    border: none;

    input {
      width: 9rem;
      border: hidden;
    }

    input:focus {
      outline: none !important;
    }

    select {
      border: none;
    }

    select:focus {
      outline: none;
    }

    .money {
      color: $title-color;
      font-weight: $text-semi-bold;
    }

    .ticket-card {
      background: $brand-primary;
      border-radius: 11.7px;
      padding: 1rem;
      color: $color-white;

      .visa {
        @extend %body-flexbox;
      }

      .card-number {
        font-size: $body-text-small;
      }

      .name-label {
        font-size: $body-text-smaller
      }

      .name {
        margin-bottom: 2rem;
        font-size: $body-text-large
      }

      .date {
        font-size: $body-text-smallest;
      }
    }

    .money-card {
      @extend %body-card;
  
      .debit {
        align-self: center;
        font-size: $body-text-smaller;
      }

      .debit-box {
        @extend %body-flexbox;
        align-items: baseline;
        gap: .5rem;
      }

      .amount {
        @extend %body-flexbox;
        border: none;
        align-items: baseline;
        gap: .5rem;
        font-size: $body-text;
      }
    }

    .amount-card {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      box-shadow: $body-box-shadow;
      border-radius: 10.2375px;

      .amount {
        display: flex;

        .input {
          margin-left: .5rem;
          color: #798BA3;
          font-size: $body-text-small;
        }
      }

      .flags-box {
        margin-top: .5rem;
        @extend %body-flexbox;
        font-size: $heading-5;

        .money-heading {
          margin-left: .3rem;
          padding-right: .3rem;
          border-right: 1px solid $brand-primary;
        }

        .dollar {
          color: $color-gray;
        }
      }
    }

    .astrid {
      margin-top: 2rem;
      @extend %body-flexbox;
      align-items: center;

      .hayes {
        @extend %body-flexbox;
        align-items: center;
      }

      .name {
        font-size: $body-text;
        margin-left: .2rem;
      }
    }

    .send-btn {
      border-radius: 16.0875px;
      color: $color-white;
      margin-top: 1rem;
      padding: 1rem;
      text-align: center;
      cursor: pointer;
    }

    .quick-transfer {
      margin-top: 2rem;
      padding: 1rem;
      background: $color-white;
      border: 0.566969px solid #E8E8E8;
      border-radius: 10.2375px;

      .transfer {
        font-size: $body-text;
      }

      .money-card-box {
        @extend %body-flexbox;
        padding-top: rem;
        border-radius: 10.2375px;
        align-content: center;
        border: 0.566969px solid $color-border;
        border-radius: 6.80363px;
        padding: .5rem;

        .debit {
          color: $color-gray-2;
          align-self: center;
          font-size: $body-text-smaller;
        }

        .debit-box {
          @extend %body-flexbox;
          align-items: baseline;
          gap: .5rem;
        }

        .amount {
          @extend %body-flexbox;
          color: $color-gray-2;
          align-items: baseline;
          gap: .5rem;
          font-size: $body-text;
        }
      }

      .amount-card-box {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        padding: .5rem;
        border: 1.7px solid $color-border-blue;
        border-radius: 7.93757px;

        .amount {
          display: flex;

          .input {
            color: #798BA3;
            font-size: $body-text-small;
          }
        }

        .flags-box {
          margin-top: .5rem;
          @extend %body-flexbox;
          font-size: $body-text-large;

          .money-heading {
            padding-right: .3rem;
            border-right: 1px solid $brand-primary;
          }

          .dollar {
            color: #A4B4CB;
          }
        }
      }

      .icons {
        display: grid;
        grid-template-columns: repeat(4, 40px);
        column-gap: .8rem;
        grid-template-rows: auto;
        overflow-x: auto;
        grid-template-areas: "send receive invoicing more";
        font-size: $body-text-small;
        text-align: center;
        margin-top: 1rem;

        .text {
          color: $color-gray-2;
          font-size: $body-text-smaller;
        }

        .send {
          grid-area: send;
        }

        .receive {
          grid-area: receive;
        }

        .invoicing {
          grid-area: invoicing;
        }

        .more {
          grid-area: more;
        }
      }

    }


  }

  .flow {
    grid-area: flow;
    padding-left: 2rem;
    padding-right: 1.5rem;

    .flow-contact {
      display: grid;
      grid-template-columns: 59% auto;

      .money-flow {
        margin-right: 3rem;

        @extend %body-heading;

        .heading {
          
          & img:first-child {
            margin-right: 1.2rem;
            padding-bottom: .4rem;
          }

        }

        .savings {

          .savings-flow {
            @extend %body-flexbox;

            .amount {
              @extend %body-flexbox;
              align-items: center;
              
              img {
                margin-right: 1rem;
              }

              span {
                font-size: $body-text-small;
                padding-right: 1rem;

              }

              span:last-child {
                font-size: $body-text-small;
                color: $color-gray;
                font-weight:  $text-semi-bold;
           
              }
            }

            .weekly {

              select {
                border: 0.73125px solid #E5E9F4;
                border-radius: 19.9443px;
                padding: .5rem;
              }

            }
          }

          .chart img {
            width: 100%;
          }


        }
       

      }

      .recent-contact {
        @extend %body-heading;
        width: inherit !important;;

        .heading {
            
          & img:first-child {
            margin-right: 1rem;

          }

        }

        .dsc {
          font-size: $body-text-small;
          color: $color-gray;
          margin-top: -1rem;
          
        }

        .users {
          @extend %body-flexbox;
          width: inherit;
          padding-top: 1rem;
          position: relative;    

          .chevron-right {
            @extend %body-chevron;
          }

        }

        .border-bottom {
          position: absolute;
          border: 2px solid $brand-primary;
          padding-left: 1.5rem;
          top: 11rem;
          left: 82%;
       
        }

        .card {
          @extend %body-card-san-flex;
          width: inherit;
          height: auto;
          margin: 0;
          margin-top: 2rem;
          padding: 1rem 2rem;

          span:first-child {
            color: $color-gray;
            font-weight: $text-bold;
          }

          span:last-child {
            padding-left: .3rem;
            font-weight: $text-bold;
          }

          .num-user {
            margin-top: 1rem;
            position: relative;

            .img {
              border: 4px solid $color-white;
              margin-left: -.9rem;
              z-index: -1;
              border-radius: $border-radius-circular;
            }

            .five {
              padding: .3rem .5rem;
              color: $brand-primary;
              border: 2px dashed $brand-primary-light-trans;
              border-radius: $border-radius-circular;
            }

            .chat {
             padding-top: 1rem
          
            }

            .dot {
              @extend %noti-indicator;
              position: absolute;
              right: -.1rem;
              top: .1rem;
            }
            

            .a-user {
              margin-left: -.5rem;

              img {
                width: 3rem;
                height: 3rem;
              }

              .name {
                font-weight: $text-bold;

                p:last-child {
                  color: $color-gray;
                }

              }

              .chevron-right {
               @extend %body-chevron;
               margin-top: 1.5rem;
              }
            }
          }
         
        }
      
      }

    }

    .transaction {
      margin-top: 2.5rem;
      @extend %body-heading;

      .table {
        @extend %body-flexbox;
        flex-direction: column;

      }
      .col {
        @extend %body-flexbox;
        margin-bottom: .6rem;

        img {
          margin-top: -.4rem;
          height: 2.5rem;
        }

        p {
          color: #343744;
        }

        .name {
          margin-left: -3rem;
        }

        .date {
          margin-left: -1.5rem;

        }

        .btn {
          width: 7rem;
          height: 2rem;
          border-radius: 5px;
          border: none;
        }

        .success {
          color: $color-success;
          background: $color-success-light;
        }

        .pending {
          color: $color-accent;
          background: $color-accent-light;
        }

      }

    }

    .statistics {
      margin-top: 1rem;
      margin-bottom: 3rem;
      padding: 1.4rem 2.5rem;
      box-shadow: $body-box-shadow;
      border-radius: 10.2375px;

      .title {
        font-size: 16.0875px;
        line-height: 19px;
        color: #343744;
        font-weight: bold;

      }

      .icon-amount {
        @extend %body-flexbox;
        align-content: center;
        margin-top: 1rem;

      }

    }


  }
}