@import "src/partials/_variables";

%body-card-san-flex {
  padding: 1rem;
  box-shadow: $body-box-shadow;
  border-radius: 10.2375px;
}

%body-card {
  @extend %body-flexbox;
  @extend %body-card-san-flex;
  align-content: center;
}

%body-heading {
  .heading {
    @extend %body-flexbox;
    margin-bottom: 1rem;

    .title {
      line-height: 17px;
      font-weight: bold;;
    }
  }
}

%body-flexbox {
  display: flex;
  justify-content: space-between;
}

%body-chevron {
  width: 0.5rem;
  height: 1rem;
  margin-top: .6rem;
}

%noti-indicator {
  position: absolute;
  padding: .2rem;
  background-color: $brand-primary;
  border-radius: $border-radius-circular;
  right: 5rem;
  top: 1rem;
}


.body {
  display: grid;
  min-height: 90vh;
  grid-template-columns:  270px auto;
  grid-template-rows: auto auto;
  grid-template-areas: "head head" "card flow";
 
  .head {
    @extend %body-flexbox;
    justify-content: fl;
    grid-area: head;
    font-size: $body-text-x-larger;
    padding: .5rem;
    margin: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background: $color-white;
    width: 95%;

    & .icons {
      img:nth-child(2) {
        position: relative;
        padding: .3rem 2rem;
      }

      span {
        @extend %noti-indicator;

      }
    }
  }

  .card {
    grid-area: card;
    margin-left: 1rem;
    padding: 1rem;
    padding-top: 0;

    .money {
      font-size: $body-text-larger;
      padding: .5rem;
      margin-top: 1rem;
    }

    .ticket-card {
      background: $brand-primary;
      border-radius: 11.7px;
      padding: 1rem;
      color: $color-white;

      .visa {
        @extend %body-flexbox;
      }

      .card-number {
        font-size: $body-text-small;
      }

      .name-label {
        font-size: $body-text-smaller
      }

      .name {
        margin-bottom: 2rem;
        font-size: $body-text-large
      }

      .date {
        font-size: $body-text-smallest;
      }
    }

    .money-card {
      @extend %body-card;
  
      .debit {
        align-self: center;
        font-size: $body-text-smaller;
      }

      .debit-box {
        @extend %body-flexbox;
        align-items: baseline;
        gap: .5rem;
      }

      .amount {
        @extend %body-flexbox;
        align-items: baseline;
        gap: .5rem;
        font-size: $body-text;
      }
    }

    .amount-card {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      box-shadow: $body-box-shadow;
      border-radius: 10.2375px;

      .amount {
        display: flex;

        .input {
          margin-left: .5rem;
          color: #798BA3;
          font-size: $body-text-small;
        }
      }

      .flags-box {
        margin-top: .5rem;
        @extend %body-flexbox;
        font-size: $heading-5;

        .money-heading {
          margin-left: .3rem;
          padding-right: .3rem;
          border-right: 1px solid $brand-primary;
        }

        .dollar {
          color: $color-gray;
        }
      }
    }

    .astrid {
      margin-top: 2rem;
      @extend %body-flexbox;
      align-items: center;

      .hayes {
        @extend %body-flexbox;
        align-items: center;
      }

      .name {
        font-size: $body-text;
        margin-left: .2rem;
      }
    }

    .send-btn {
      background: $brand-primary;
      border-radius: 16.0875px;
      color: $color-white;
      font-size: $body-text;
      margin-top: 1rem;
      padding: 1rem;
      text-align: center;
    }

    .quick-transfer {
      margin-top: 2rem;
      padding: 1rem;
      background: $color-white;
      border: 0.566969px solid #E8E8E8;
      border-radius: 10.2375px;

      .transfer {
        font-size: $body-text;
      }

      .money-card-box {
        @extend %body-flexbox;
        padding-top: 1rem;
        border-radius: 10.2375px;
        align-content: center;

        .debit {
          align-self: center;
          font-size: $body-text-smaller;
        }

        .debit-box {
          @extend %body-flexbox;
          align-items: baseline;
          gap: .5rem;
        }

        .amount {
          @extend %body-flexbox;
          align-items: baseline;
          gap: .5rem;
          font-size: $body-text;
        }
      }

      .amount-card-box {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        padding: .5rem;
        box-shadow: $body-box-shadow;
        border-radius: 10.2375px;

        .amount {
          display: flex;

          .input {
            color: #798BA3;
            font-size: $body-text-small;
          }
        }

        .flags-box {
          margin-top: .5rem;
          @extend %body-flexbox;
          font-size: $body-text-large;

          .money-heading {
            padding-right: .3rem;
            border-right: 1px solid $brand-primary;
          }

          .dollar {
            color: #A4B4CB;
          }
        }
      }

      .icons {
        display: grid;
        grid-template-columns: repeat(4, 40px);
        column-gap: 5px;
        grid-template-rows: auto;
        overflow-x: auto;
        grid-template-areas: "send receive invoicing more";
        font-size: $body-text-small;
        text-align: center;

        .send {
          grid-area: send;
        }

        .receive {
          grid-area: receive;
        }

        .invoicing {
          grid-area: invoicing;
        }

        .more {
          grid-area: more;
        }
      }

    }


  }

  .flow {
    grid-area: flow;
    padding-left: 2rem;
    padding-right: 1.5rem;

    .flow-contact {
      display: grid;
      grid-template-columns: 59% auto;

      .money-flow {
        margin-right: 3rem;

        @extend %body-heading;

        .heading {
          
          & img:first-child {
            margin-right: 1rem;
            padding-bottom: .4rem;
          }

        }

        .savings {

          .savings-flow {
            @extend %body-flexbox;

            .amount {
              @extend %body-flexbox;
              align-items: center;
              
              img {
                margin-right: 1rem;
              }
            }

            .weekly {

              select {
                border: 0.73125px solid #E5E9F4;
                border-radius: 19.9443px;
                padding: .5rem;
              }

            }
          }

          .chart img {
            width: 100%;
          }


        }
       

      }

      .recent-contact {
        @extend %body-heading;

        .heading {
            
          & img:first-child {
            margin-right: 1rem;

          }

        }

        .dsc {
          font-size: .8rem;
        }

        .users {
          @extend %body-flexbox;
          width: 18rem;

          .chevron-right {
            @extend %body-chevron;
          }

        }

        .card {
          @extend %body-card-san-flex;
          width: 70%;
          height: 48%;
          margin: 0;
          margin-top: 1rem;
          padding: 2rem;

          span:first-child {
            color: $color-gray;
          }

          span:last-child {
            padding-left: 1rem;
            font-weight: bold;
          }

          .num-user {
            margin-top: 1rem;
            position: relative;

            .img {
              border: 4px solid $color-white;
              margin-left: -.9rem;
              z-index: -1;
              border-radius: $border-radius-circular;
            }

            .five-chat {
              .five {
                position: absolute;
                right: 4rem;
                padding: .6rem .7rem;
                color: $brand-primary;
                font-weight: bold;
                margin-left: 3rem;
                border: 2px dashed $brand-primary-light-trans;
                border-radius: $border-radius-circular;
              }
              img {
                position: absolute;
                top: 1rem;
                left: 12rem;
                border: none;
                border-radius: 0;
              }

              .dot {
                @extend %noti-indicator;
                position: absolute;
                right: -.1rem;
                top: .1rem;
                color: red;
              }

            }
            

            .a-user {
              @extend %body-flexbox;

              img {
                width: 4rem;
                height: 4rem;
              }

              .name-amount {
                margin-left: -3rem;
                margin-top: .7rem;
              }

              .chevron-right {
               @extend %body-chevron;
               margin-top: 1.5rem;
              }
            }
          }
         
        }
      
      }

    }

    .transaction {
      margin-top: 2.5rem;
      @extend %body-heading;

      .table {
        @extend %body-flexbox;
        flex-direction: column;

      }
      .col {
        @extend %body-flexbox;
        margin-bottom: .6rem;

        img {
          margin-top: -.4rem;
          height: 2.5rem;
        }

        p {
          color: #343744;
        }

        .name {
          margin-left: -3rem;
        }

        .date {
          margin-left: -1.5rem;

        }

        .btn {
          width: 7rem;
          height: 2rem;
          border-radius: 5px;
          border: none;
        }

        .success {
          color: $color-success;
          background: $color-success-light;
        }

        .pending {
          color: $color-accent;
          background: $color-accent-light;
        }

      }

    }

    .statistics {
      margin-top: 1rem;
      margin-bottom: 3rem;
      padding: 1.4rem 2.5rem;
      box-shadow: $body-box-shadow;
      border-radius: 10.2375px;

      .title {
        font-size: 16.0875px;
        line-height: 19px;
        color: #343744;
        font-weight: bold;

      }

      .icon-amount {
        @extend %body-flexbox;
        align-content: center;
        margin-top: 1rem;

      }

    }


  }
}