<div class="body">
  <h2 class="head">My Card</h2>

  <div class="card">
    <div class="ticket-card">
      <div class="name-label">Name</div>
      <div class="name">Carla Rosser</div>
      <div class="visa">
        <span class="card-number">1200 01452 54215</span>
        <img src="../../../assets/icons/visa.png" alt="" />
      </div>
      <div class="date">08/23</div>
    </div>
    <div class="money">Send Money</div>
    <div class="money-card">
      <div class="debit-box">
        <img src="../../../assets/icons/debit.png" alt="" />
        <div class="debit">Debit</div>
      </div>
      <div class="amount">
        <div>$ 10.680</div>
        <div>
          <img src="../../../assets/icons/Vector.png" alt="" />
        </div>
      </div>
    </div>
    <div class="amount-card">
      <div class="amount">
        <img src="../../../assets/icons/Ellipse.png" alt="" />
        <div class="input">Enter the amount</div>
      </div>
      <div class="flags-box">
        <div>
          <span class="dollar">$</span><span class="money-heading">800.00</span>
        </div>
        <img src="../../../assets/icons/flags.png" alt="" />
      </div>
    </div>
    <div class="astrid">
      <div class="hayes">
        <img src="../../../assets/icons/astrid.png" alt="" />
        <div class="name">Astrid Hayes</div>
      </div>
      <img src="../../../assets/icons/plus.png" alt="" />
    </div>
    <div class="send-btn">Send Money</div>
    <div class="quick-transfer">
      <div class="transfer">Quick Transfer</div>
      <div class="money-card-box">
        <div class="debit-box">
          <img src="../../../assets/icons/debit.png" alt="" />
          <div class="debit">Debit</div>
        </div>
        <div class="amount">
          <div>$ 10,432</div>
          <div>
            <img src="../../../assets/icons/Vector.png" alt="" />
          </div>
        </div>
      </div>
      <div class="amount-card-box">
        <div class="amount">
          <div class="input">Enter amount</div>
        </div>
        <div class="flags-box">
          <div><span class="money-heading">$1,24</span></div>
          <img src="../../../assets/icons/group-pics.png" alt="" />
        </div>
      </div>
      <div class="icons">
        <div class="send">
          <img src="../../../assets/icons/send.png" alt="" />
          <div>Send</div>
        </div>
        <div class="receive">
          <img src="../../../assets/icons/receive.png" alt="" />
          <div>Receive</div>
        </div>
        <div class="invoicing">
          <img src="../../../assets/icons/invoicing.png" alt="" />
          <div>Invoicing</div>
        </div>
        <div class="more">
          <img src="../../../assets/icons/more.png" alt="" />
          <div>More</div>
        </div>
      </div>
    </div>
  </div>
  <div class="flow">
    <div class="flow-contact">
      <div class="money-flow">
        <div class="heading">
          <p class="title">Money Flow</p>
          <div class="">
            <img src="../../../assets/icons/flow.png" alt="" />
            <img src="../../../assets/icons/recflow.png" alt="" />
          </div>
        </div>
        <div class="savings">
          <div class="savings-flow">
            <div class="amount">
              <img src="../../../assets/icons/circularflow.png" alt="">
              <span>Savings</span>
              <img src="" alt="">
              <span>+6,79%</span>
            </div>
  
            <div class="weekly">
              <select id="duration" name="cars">
                <option value="weekly">weekly</option>
              </select>
            </div>
          </div>
          <div class="chart">
            <img src="../../../assets/icons/chart.png" alt="" />
          </div>
        </div>
      </div>
      <div class="recent-contact">
        <div class="heading">
          <div class="title">Recent Contacts </div>
          <div class="">
            <img src="../../../assets/icons/ic.png" alt="" />
            <img src="../../../assets/icons/search.png" alt="" />
          </div>
        </div>
        <div class="dsc"> 18 recipients</div>
        <div>
          <img src="../../../assets/icons/users.png" alt="" />

        </div>
          <img src="../../../assets/icons/card.png" alt="" class="card-img "/>
      </div>
    </div>
    <div class="transaction">
      <div class="heading">
        <p class="title">Recent Transactions</p>
        <img src="../../../assets/icons/viewall.png" alt="" />
      </div>
      <div class="table">
        <div class="col">
          <img src="../../../assets/icons/bitc.png" alt="">
          <p class="name">Bitcoin Transactions</p>
          <p class="date">Jan 16, 2020</p>
          <p>*****45242</p>
          <p>-$853.00</p>
          <button class="btn success">Success</button>
        </div>
        <div class="col">
          <img src="../../../assets/icons/Ellipse 357.png" alt="">
          <p class="name">Sent to anitonia</p>
          <p >Jan 16, 2020</p>
          <p>*****87212</p>
          <p>-$153.00</p>
          <button class="btn pending">Pending</button>
        </div>
        <div class="col">
          <img src="../../../assets/icons/paypal.png" alt="">
          <p class="name">Withdraw Paypal</p>
          <p>Jan 16, 2020</p>
          <p>*****36275</p>
          <p>+$223.00</p>
          <button class="btn success">Success</button>
        </div>
      </div>

    </div>
    <div class="statistics">
      <p class="title">Statistics</p>
      <div class="icon-amount">
        <img src="../../../assets/icons/customers.png" alt="" />
        <img src="../../../assets/icons/remitance.png" alt="" />
        <img src="../../../assets/icons/donation.png" alt="" />
        <img src="../../../assets/icons/watchtime.png" alt="" />

      </div>
    </div>
  </div>
</div>

