.container-field {
  display: grid;
  grid-template-columns: 175px auto;
  grid-row: auto;
  min-height: 100vh;
  padding: .5rem;;
}

@media screen and (min-width: 30em) {
  .sidebar {
    display: none;
  }
  
}

