<div class="content">
  <div class="top">
    <ul>
      <li>
        <img src="../../../assets/icons/icon.png" alt="" />
        <a href="" class="logo"> OpenPay </a>
      </li>
      <li class="active">
        <img src="../../../assets/icons/dashboard.png" alt="" />
        <a href=""> Dashboard </a>
      </li>
      <li>
        <img src="../../../assets/icons/invoices.png" alt="" />
        <a href=""> Invoices </a>
      </li>
      <li>
        <img src="../../../assets/icons/messages.png" alt="" />
        <a href=""> Messages </a>
        <span class="messages">5</span>
      </li>
      <li>
        <img src="../../../assets/icons/wallets.png" alt="" />
        <a href=""> My Wallets </a>
      </li>
      <li>
        <img src="../../../assets/icons/activity.png" alt="" />
        <a href=""> Activity </a>
      </li>
      <li>
        <img src="../../../assets/icons/analytics.png" alt="" />
        <a href=""> Analytics </a>
      </li>
    </ul>
  </div>
  <div class="bottom">
    <ul>
      <li>
        <img src="../../../assets/icons/help.png" alt="" />
        <a href=""> Get Help </a>
      </li>
      <li>
        <img src="../../../assets/icons/settings.png" alt="" />
        <a href=""> Settings </a>
      </li>
    </ul>
  </div>
</div>
