@import "src/partials/_variables";

.content {
  position: fixed;
  border-right: 1.5px solid $color-gray-light;
  display: grid;
  min-height: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "top"
    "bottom"
  ;


  .top {
    grid-area: top;
  }

  .bottom {
    grid-area: bottom;
    align-self: flex-end;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    li {
      font-size: $body-text;
      line-height: 18px;
      padding: .5rem;
      margin: .5rem;
      display: flex;
      align-content: center;
      gap: 10px;

      a {
        display: flex;
        align-self: center;
        text-decoration: none;
        color: #131635;
      }

      .logo {
        font-weight: 600;
      }

      .messages {
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: $brand-primary;
        border-radius: $border-radius-circular;
        padding: .3rem .6rem;
        color: $color-white;
        margin-left: 1.8rem;
      }
    }

    li.active {
      background: $brand-primary-light;
      border-radius: 4.3875px;
      margin-left: -0.2rem;

      a {
        color: #0177FD;
      }



    }

    li.active::before {
      content: "";
      position: relative;
      left: -22px;
      border-left: 4px solid #0177FD;
      padding: 0;
      margin: 0;
    }


  }
}