// colors
$brand-primary: #0177FB;
$brand-primary-light: #E5F1FF;
$brand-primary-light-trans: #DDE5F0;


$color-white: #FFFFFF;
$color-accent: #FFAA90;
$color-accent-light: #FFF1ED;
$color-success: #61BB84;
$color-success-light: #EBFFF3;
$color-dark: #000;
$color-gray: #7C8CA6;
$color-gray-light: #E8ECF5;
$color-gray-2: #798BA3;


$title-color: #141736;

$text-bold: 500;
$text-semi-bold: 400;
$color-border: #F6F8FB;
$color-border-blue: #819CFD;








// measurements
$body-text-x-larger: 1.2rem;
$body-text-larger: 1rem;
$body-text-large: .9rem;
$body-text: .8rem;
$body-text-small: .7rem;
$body-text-smaller: .6rem;
$body-text-smallest: .5rem;
$heading-5: 21px;
$border-radius-circular: 50%;
$body-box-shadow: 0px 10.9688px 21.9375px rgba(122, 122, 122, 0.2);