* {
  margin: 0;
}

:root {
  --body-text-x-larger: 18px;
  --body-text-larger: 16px;
  --body-text-large: 14px;
  --body-text: 12px;
  --body-text-small: 10px;
  --body-text-smaller: 9px;
  --body-text-smallest: 8px;

  --heading-5: 21px;
}